@import "./color_schemes/dark";

$link-color: #51a2ff;
$nav-child-link-color: #bedbff;
$sidebar-color: #2b2b2b;
$body-background-color: #121212;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$content-width: 59.375rem;
$code-background-color: #193cb8;
