@import "./color_schemes/dark";

$link-color: #4cadd0;
$nav-child-link-color: #81c5de;
$sidebar-color: #333333;
$body-background-color: #121212;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$content-width: 59.375rem;
$code-background-color: #292f93;

// $btn-primary-color: #454ff5;
// $feedback-color: darken(#1a1859, 3%);
// $table-background-color: darken(#1a1859, 3%);
// $search-background-color: #1a1859;
// $search-result-preview-color: #ffffff;
// $border-color: #1a1859;
// $base-button-color: darken(#1a1859, 3%);
// $btn-primary-color: $blue-200;

.youtube-container{position: relative;padding-bottom: 56.25%;height: 0;overflow: hidden;max-width: 100%;height: auto;}
